$color-black: #231e32;
$color-grey: #908e98;
$color-purple-dark: #57174a;
$color-purple-soft: #81266b;
$color-blue-dark: #306593;
$color-blue-soft: #3b98dc;
$color-white: #FFFFFF;

$color-black-75-percent: darken($color-black, 75%);
