@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

$font-family-primary: 'Open Sans Regular', sans-serif;
$font-family-secondary: 'Open Sans Semibold', sans-serif;
$font-size-browser: 62.5%;
